.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.093262;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:1.396000px;}
.ls1{letter-spacing:9.920000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-5.195520px;}
._a{margin-left:-1.180800px;}
._8{width:1.183200px;}
._7{width:2.356224px;}
._5{width:4.115136px;}
._2{width:5.280000px;}
._3{width:8.340000px;}
._0{width:10.080000px;}
._c{width:11.512800px;}
._9{width:23.587200px;}
._1{width:49.800000px;}
._4{width:50.820000px;}
._d{width:51.919200px;}
._6{width:106.859104px;}
.fc0{color:rgb(102,51,0);}
.fs3{font-size:40.800000px;}
.fs2{font-size:59.040000px;}
.fs0{font-size:60.000000px;}
.fs1{font-size:188.256000px;}
.y0{bottom:0.000000px;}
.y5{bottom:8.688000px;}
.y3{bottom:14.208000px;}
.y4{bottom:20.928000px;}
.y1{bottom:249.220000px;}
.y2{bottom:277.460000px;}
.h4{height:38.847656px;}
.h3{height:56.214844px;}
.h1{height:57.128906px;}
.h2{height:142.754672px;}
.h0{height:540.000000px;}
.w1{width:719.999989px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:108.699989px;}
.x1{left:112.919989px;}
.x7{left:167.659989px;}
.x9{left:188.419989px;}
.x8{left:200.059989px;}
.x5{left:205.939989px;}
.x3{left:211.149989px;}
.x6{left:232.509989px;}
.x4{left:436.579989px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:1.861333pt;}
.ls1{letter-spacing:13.226667pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-6.927360pt;}
._a{margin-left:-1.574400pt;}
._8{width:1.577600pt;}
._7{width:3.141632pt;}
._5{width:5.486848pt;}
._2{width:7.040000pt;}
._3{width:11.120000pt;}
._0{width:13.440000pt;}
._c{width:15.350400pt;}
._9{width:31.449600pt;}
._1{width:66.400000pt;}
._4{width:67.760000pt;}
._d{width:69.225600pt;}
._6{width:142.478805pt;}
.fs3{font-size:54.400000pt;}
.fs2{font-size:78.720000pt;}
.fs0{font-size:80.000000pt;}
.fs1{font-size:251.008000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:11.584000pt;}
.y3{bottom:18.944000pt;}
.y4{bottom:27.904000pt;}
.y1{bottom:332.293333pt;}
.y2{bottom:369.946667pt;}
.h4{height:51.796875pt;}
.h3{height:74.953125pt;}
.h1{height:76.171875pt;}
.h2{height:190.339562pt;}
.h0{height:720.000000pt;}
.w1{width:959.999986pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:144.933319pt;}
.x1{left:150.559986pt;}
.x7{left:223.546652pt;}
.x9{left:251.226652pt;}
.x8{left:266.746652pt;}
.x5{left:274.586652pt;}
.x3{left:281.533319pt;}
.x6{left:310.013319pt;}
.x4{left:582.106652pt;}
}
